[run]
source = 
    app
    main
omit =
    */tests/*
    */test_*
    */__pycache__/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
omit =
    */tests/*
    */test_*
    */__pycache__/*
    */site-packages/*
precision = 2

[html]
directory = htmlcov
